:root {
    --primary-color: #fff2cc;   /* pale yellow */
    --secondary-color: #000;    /* black */
    --accent1-color: #990000;   /* deep red */
    --accent2-color: #f1c232;   /* golden yellow */
    --heading-font: Georgia, Times New Roman, sans-serif;    
    --body-font: Verdana, Arial, sans-serif;
    --pixel-spacing-1: 16px;
    --pixel-spacing-2: 20px;
    --width-ratio: 100%;
    --border: 1px solid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 180px 1fr 15px;
    background-color: var(--accent2-color);
    align-items: center;
}

header img {
    margin: 11px 57px;
}

footer {
    /* margin-top: 15px; */
    padding: 7px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 190px;
    align-items: center;
}

footer p {
    margin: 15px 30px;
    justify-content: space-around;
}

/* CONTACT US - Start */

textarea {
    margin-left: 30px;
    width: 370px;
    height: 100px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

/* CONTACT US - End */


/* Class selectors */

.navigation {
    display: flex;
    list-style: none;
    background-color: var(--primary-color);
    margin: 50px;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;    
    color: var(--secondary-color);
    padding: 5px;
    border: var(--border) var(--secondary-color);
    text-decoration: none;
    text-align: center;
}

.socialmedia a {
    display: inline-flex;
    flex: 1 1 auto;
    text-decoration: none;
    margin-top: 6px;
    margin-right: 5px;
}

/* HOME (INDEX) - Start */

.home {
    font-family: var(--body-font);
    color: var(--secondary-color);
    font-size: 14px;
}

.home h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 46px;
}

.home p {
    margin: var(--pixel-spacing-1);
    padding: 8px;
}

.home h1 {
    position: absolute;
    top: var(--pixel-spacing-2);
    width: var(--width-ratio);
    padding: var(--pixel-spacing-1);
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: var(--primary-color);    
    /* light text – make sure there is enough contrast with the background-color */
}

.home-hero {
    position: relative;
}

.home-hero img {
    display: block;
    width: var(--width-ratio);
    height: auto;
}

.home h2 {
    position: absolute;
    width: var(--width-ratio);    
    bottom: 0;
    font-size: 28px;
    /* border-top: var(--border) var(--secondary-color); */
    border-bottom: var(--border) var(--primary-color);
    text-align: center;
    /* background-color: var(--primary-color); */
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    padding: var(--pixel-spacing-2);

}

.offers-1 {
    display: grid;
    grid-template-columns: 320px 1fr;
    align-items: center;    
    /* border-bottom: var(--border) var(--secondary-color); */
    /* border-top: var(--border) var(--primary-color); */
    background-color: var(--primary-color);
    padding-top: 0;
    /* padding-bottom: 20px; */
}

.offers-1 img {
    margin-top: var(--pixel-spacing-2);
    margin-left: 25px;
    width: 295px;
    border: var(--border) var(--secondary-color);    
}

.offers-1 figcaption {
    font-family: var(--heading-font);
    font-size: 14px;
    margin-top: 3px;    
    text-align: center;
    text-indent: 25px;
}

.offers-2 {
    display: grid;
    grid-template-columns: 1fr 320px;
    align-items: center;
    background-color: var(--primary-color);
    padding-top: 0;
    padding-bottom: 18px;
}

.offers-2 img {
    /* margin-top: var(--pixel-spacing-2); */
    width: 295px;
    border: var(--border) var(--secondary-color);
}

.offers-2 figcaption {
    font-family: var(--heading-font);
    font-size: 14px;
    margin-top: 3px;
    text-align: center;
    padding-right: 25px;
}

.form-cta {
    display: grid;
    grid-template-columns: 420px 1fr;
    margin-top: 0px;
    height: 327px;    
}

.home-form {
    height: 290px;
    width: 400px;    
    margin: var(--pixel-spacing-2) var(--pixel-spacing-2) 0 auto;    
    padding: 1rem;
    /* border: var(--border) rgb(0 0 0 / 0.1); */
    border: var(--border) var(--secondary-color);
    border-radius: 0.5rem;
    /* background-color: var(--accent2-color); */
    background-color: #87ceeb;
    display: grid;
}

.home-sign-up-pioneer {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: xx-large;
    /* color: var(--accent1-color); */
}

.home-sign-up-here {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    /* color: var(--accent1-color); */
}

.home-column {
    margin-left: 8px;
    font-family: var(--body-font);    
}

.form-group2 input {
    width: 350px;
    font-size: 16px;
    margin-bottom: 7px;
}

.home-checkbox {
    font-size: 12px;
}

.button-subscribe {
    width: 130px;
    margin: 5px;
    /* background-color: navy; */
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    /* border: none; */
    border-radius: .5rem;
    /* padding: .75rem; */
    font-size: 1rem;
}

.button-subscribe:hover {
    background-color: var(--primary-color);
}

.home-trips {        
    /* border-bottom: var(--border) var(--secondary-color); */
    align-items: center;        
    background-color: #87ceeb;
    /* background-color: var(--accent2-color); */
    /* background-color: var(--primary-color); */
    width: 100%;
}

.button-trips {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 360px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
    background-color: #000080;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.button-trips:hover {
    background-color: var(--accent1-color);
}

.home-trips-arrow img {
    height: 40px;
    width: 200px;
}

.home-footer {
    margin-top: 0px;    
}

/* HOME (INDEX) - End */

/* ABOUT US - Start */

.about {
    font-family: var(--body-font);
    color: var(--secondary-color);
    font-size: small;
}

.about h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 36px;
}

.about article p {
    margin: 16px 4px;
    padding: 8px 8px 11px 0;
    text-align: center;
}

.about h1 {
    position: absolute;
    top: var(--pixel-spacing-2);
    width: var(--width-ratio);
    padding: var(--pixel-spacing-1);
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    /* light text – make sure there is enough contrast with the background-color */
}

.about article {
    bottom: var(--pixel-spacing-2);
    width: var(--width-ratio);
    text-align: left;
    font-size: 14px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding-top: 1px;
}

.about section {
    padding-top: var(--pixel-spacing-2);
}

.about section h2 {
    background-color: var(--accent1-color);
    width: var(--width-ratio);
    padding: 8px;
    text-align: center;
    font-size: large;
}

.about figcaption {
    font-family: var(--heading-font);
    font-size: 14px;
    margin-top: 2px;
    text-align: center;
}

.about-hero {
    position: relative;
}

.about-hero img {
    display: block;
    width: var(--width-ratio);
    height: auto;
}

.about-hero article {
    position: absolute;
}

.about-hero article img {
    float: right;
    margin: 12px 12px 0 0;    
    width: 86px;
    border: var(--border) var(--secondary-color);
}

.history {
    display: grid;
    grid-template-columns: 320px 1fr 320px;
    align-items: center;
    background-color: var(--primary-color);
}

.history h2 {
    grid-column: span 3;
}

.history p {
    margin: var(--pixel-spacing-1);
    padding: 8px;
    text-align: center;
}

.history img {    
    margin: var(--pixel-spacing-2) auto 0;    
    border: var(--border) var(--secondary-color);
}

.adventure {
    display: grid;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding-bottom: 15px;
}

.adventure h2 {
    grid-column: span 5;
}

.adventure img {
    margin-top: var(--pixel-spacing-2);
    width: 150px;
}

/* ABOUT US - End */

/* CONTACT US - Start */

.contact section {
    padding: var(--pixel-spacing-2) 0;
}

.contact section h2 {
    background-color: var(--accent1-color);
    width: var(--width-ratio);
    padding: 8px;
    text-align: center;
    font-size: large;
    
}

.contact figcaption {
    font-family: var(--heading-font);
    font-size: 14px;
    margin-top: 2px;
    text-align: center;
}

.address {
    display: block;
    text-align: center;
    font-family: var(--body-font);
    background-color: var(--accent1-color);
    color: var(--primary-color);
    padding: var(--pixel-spacing-1) var(--pixel-spacing-1) var(--pixel-spacing-2);    
}

.address h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 10px;
}

.map-form {
    display: grid;
    grid-template-columns: 420px 1fr;
    /* margin-top: 30px; */
    padding-top: 33px;
    background-color: var(--primary-color);
}

.map {
    padding-left: 17px;
    padding-bottom: 10px;
}

.form-group1 label {
    display: inline-block;
    width: 90px;    
    /* margin-left: 10px; */
}

.form-group1 input {
    width: 277px;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-margin {
    margin-bottom: 16px;
}

.column1 {
    margin-left: 30px;
    font-family: var(--body-font);
    font-size: 14px;
}

.radio-row {
    display: flex;
    align-items: center;
    gap: 15px;    
}

.labels {
    width: 80px;    
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;    
    margin-right: 8px;        
}

.radio-group label {
    display: flex;    
    gap: 8px;            
    margin-top: 0.10em;
    font-family: var(--body-font);
    font-size: 14px;
}

.message {
    display: grid;
    gap: 5px;
    margin-top: 25px;    
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-contact {
    width: 230px;
    margin: 3px;
    background-color: #000080;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.1rem;
}

.button-contact:hover {
    background-color: var(--accent1-color);
}

.employees {
    display: grid;
    align-items: center;    
    background-color: var(--primary-color);
    padding-top: var(--pixel-spacing-2);
}

.employees .contact-h2 {
    grid-column: span 3;
    width: 840px;
}

.employees img {
    margin: var(--pixel-spacing-2) 0 0 var(--pixel-spacing-2);
    /* margin-top: var(--pixel-spacing-2);
    margin-left: var(--pixel-spacing-2); */
    width: 236px;
    height: 225px;
}

/* CONTACT US - End */

/* TRIPS - Start */

.trips {
    font-family: var(--body-font);
    color: var(--secondary-color);
    font-size: small;
}

.trips h1 {
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-family: var(--heading-font);        
    font-size: 36px;
    padding: var(--pixel-spacing-1);
}

.trips-splash {
    position: relative;
    /* display: inline-block; */
}

.trips-splash img {
    display: block;     /* This removes the tiny white space underneath the image */
    width: var(--width-ratio);
}

.button-contact-float {    
    position: absolute;
    top: 48px;
    right: 20px;
    text-decoration: none;    
    text-align: center;        
    background-color: #87ceeb;
    color: #000080;    
    border: none;
    border-radius: 1.5rem;
    padding: .75rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid #333;
    /*border-radius: 5px; */

}

.button-contact-float:hover {
    background-color: var(--primary-color);
}

.trips-section-trips {
    /* display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; */
    background-color: var(--primary-color);
    text-align: center;    
}

.trips-section-trips h2 {        
    grid-column: span 3;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    text-align: center;
    width: var(--width-ratio);
    font-size: 28px;
    padding: 20px;   
}

.trips-section-trips img {
    width: 250px;    
    /* padding-top: 15px; */
    border: var(--border) var(--secondary-color);
}

.trips-section-trips figcaption {
    font-family: var(--heading-font);
    font-size: 18px;
    margin-top: 2px;
    text-align: center;
}

.trips-div-trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 20px;
}

.trips-text {
    margin: 20px;    
}

.trips-section-table {    
    /* background-color: var(--primary-color); */
    position: relative;
    /* background-color: #87ceeb; */
    overflow-x: auto;
}

.trips-section-table h3 {
    position: absolute;
    top: 18px;
    left: 71px;
    background-color: #87ceeb;
    width: 699px;
    /* color: var(--accent1-color); */
    color: #000080;
    /* border-top: var(--border) var(--secondary-color);     */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 22px;
    padding: 15px 10px;
}

.trips-section-table img {
    display: block;
    width: var(--width-ratio)    
}

.trips-table {
    position: absolute;
    table-layout: fixed;
    top: 85px;
    left: 70px;
    background-color: var(--primary-color);
    border-collapse: collapse;    
    /* width: var(--width-ratio); */
    width: 80%;
    /* margin: 0 auto; */
    min-width: 700px;    
}

.trips-table th {
    border: var(--border) #ccc;
    padding: 8px;

}

.trips-table td {
    border: var(--border) #ccc;
    padding: 8px;
}

.trips-table th {
    background-color: #f2f2f2;
    /* background-color: var(--accent2-color); */
    text-align: left;
}

.trips-table th:nth-child(n+3),
.trips-table td:nth-child(n+3) {
    text-align: right;
}

.trips-table tbody tr:last-child td {
    padding-bottom: 9px;
    border-bottom: 4px solid #777;
}

/* TRIPS - End */
