* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

h1 {
    text-align: center;
    margin: 1rem;
    color: navy;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);    
}

legend {
    padding: 0 20px;
    color: navy;
    font-size: 1.2em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

textarea {
    margin: 0 20px 20px 20px;
}

button {
    width: 120px;
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;    
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 700px;    
    text-align: center;
    border-top: 1px solid lightgray;        
}

footer p {
    margin: 7px;
    color: gray;
    font-size: 0.9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Class selectors */

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns:  3fr 1fr;    
    margin: 0.5rem 1rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;    
    margin-right: 15px;
}

.full-name {
    margin-top: 20px;
}

.useremail {
    margin-bottom: 20px;
}

.browser {
    margin-top: 20px;
}

.textarea-label {
    text-align: center;
    margin: 1rem 0 0.5rem 0;
}

.button-container {
    display: flex;
    justify-content: center;
}