:root {
    --general-color: darkblue;
    --color: black;
    --text-align: center;
    --aside-rem: 1rem;
    --border: 1px solid;
    --height: auto;
}
nav {
    background-color: var(--general-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main {
    max-width: 840px;
}
h1 {
    color: var(--general-color);
}
main img {
    width: 150px;
    height: var(--height);
    border: var(--border) var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {    
    padding: 0;
}
aside {
    width: 20rem; /* This is a length value, relative to the root font size i.e. 20 * 16px = 320px */
    margin: var(--aside-rem);
    border: var(--border) rgba(0 0 0 / 0.2);
    padding: var(--aside-rem);
    background-color: #eee;
    color: var(--border-color);    
    text-align: var(--text-align);
}
aside img {
    width: 200px;    
    height: var(--height);
}
footer {
    margin-top: 15px;
    border-top: var(--border) var(--color);
    text-align: var(--text-align);
}
